.header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: #8392E5;
  height: 65px;
  overflow: hidden;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
}

.title {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  span {
    font-size: 32px;
    padding-left: 12px;
  }
}

 
.links {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 65px;
  font-size: 20px;
  height: 100%;
  align-items: center;
  justify-items: center;
  
  .link {
    &.hover {
      background-color: black;
    }
  }
}